extends layout

block content
  h1 Members Area
  p Welcome to the members area.
    if posts
      each post, i in posts
        .post
          a(href='/posts/show/#{post._id}')
            h2=post.title
          span.
          p.meta Posted in 
            a(href='/categories/show/#{post.category}') #{post.category} 
            span.
              by #{post.author} on #{moment(post.date).format('MMMM Do YYYY, h:mm a')}
          img(src="/images/uploads/#{post.mainimage}")
          !=truncateText(post.body, 400)
          a.more(href='/posts/show/#{post._id}') Read More
    else 
      p.noposts There are no posts to display.
